
Покупатель {{name}}. Заказ №: {{order}}:
Дата и время заказа: {{dateOrder}}
======================================
Адрес доставки:
Адрес: {{address}}
Город: {{city}}
Район: {{subway}}
Телефон: {{phonenumber}}
Почтовый ящик: {{email}}
Товар:
{% for item in sendOrder %}
Продукт: {{ item.product_title }}
Количество: {{ item.quantity_order}}
Вес продукта: {{item.product_ves}}
Цена продукта: {{item.product_price}} рублей.
======================================
{% endfor %}
Общая сумма: {{total}} рублей.


